/* - Navigation Menu > 991 RES. */
@media (min-width: 992px) {
    .header-section.navbar-fixed-top .ow-navigation .navbar-brand {
        margin: 0px 0;
    }
    .ow-navigation .navbar-header {
        /* margin-top: -25px; */
        margin-top: 0px;
    }
    .ow-navigation .ddl-switch {
        display: none !important;
    }
    .ow-navigation.navbar-default .navbar-nav {
        padding-right: 25px;
    }
    .ow-navigation.navbar-default .navbar-nav > li {
        margin-left: 8px;
        margin-right: 8px;
    }

    .ow-navigation.navbar-default .navbar-nav > li > a {
        padding: 30px 0 30px;
    }
    .ow-navigation.navbar-default .navbar-nav > li > a::before {
        background-color: #e2b13c;
        border-right: 4px solid #222222;
        box-shadow: -3px 0 0 0 #fff inset;
        content: "";
        display: inline-block;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 25px;
        opacity: 0;
        position: absolute;
        width: 0;
        -webkit-transition: all 1s ease 0s;
        -moz-transition: all 1s ease 0s;
        -o-transition: all 1s ease 0s;
        transition: all 1s ease 0s;
    }
    .ow-navigation .navbar-brand > img {
    display: inline-block;
    margin-right: 10px;
    height: 78px;
}
}


.onview-section .onview-content p {
    color: #000000;
    line-height: 26px;
    letter-spacing: 0.28px;
    font-size: 15px;
}

@media(min-width: 1366px) {
    .ow-navigation .navbar-brand {
        margin-top: 0px;
    }
}



.top-header .top-content::after {
    content: "";
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    border-bottom: 35px solid #f49738;
    border-right: 40px solid transparent;
    z-index: 1;
}

.top-header {
    text-align: left;
    background: #f49738;
}

.top-header .top-content > a {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    float: left;
    padding: 6px 35px 8px 55px;
    text-decoration: none;
    text-align: left;
}

.top-icons {
    background-color: transparent; 
    float: left;
    position: relative;
}

.top-header .top-icons h5 {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #e2b13c;
    margin: 9px 0 11px 40px;
}


.top-header .top-content {

    background-color: #2a2a2a;
    width: auto;
    position: relative;

}




.bookingpage{
    
}

.bookingpage .form-control{
    margin-bottom:20px;
}

.booknowblock{
    padding: 20px;
    padding: 20px;
    background: #fff;
    margin-bottom: 100px;
}

.booknowblock button{
   background: orange;
}


.contact-form .form-control {
    color:black;
}


.change-color-gradiant  {
    background: linear-gradient(270deg, #ff0000, #00db25, #0005db, #db8900, #00dbc0, #db0000);
    background-size: 1200% 1200%;

    -webkit-animation: changegradiantcolor 31s ease infinite;
    -moz-animation: changegradiantcolor 31s ease infinite;
    animation: changegradiantcolor 31s ease infinite;
}

@-webkit-keyframes changegradiantcolor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes changegradiantcolor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes changegradiantcolor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.whilecolor{
    color:white!important;
}


.stylefont-Arizonia{
    font-family: 'Arizonia', cursive!important;
}


.stylefont-Merienda{
    font-family: 'Merienda One', cursive!important;;

}

.font-50{
    font-size: 50px!important;
}

.text-capitalize{
    text-transform: capitalize!important;
}


.onview-section::before {
    background-color: rgba(255,255,255,0.2);
}

.stylefont-Kaushan{
    font-family: 'Kaushan Script', cursive!important;
}


.page-banner h3 {
    color: #2a2a2a;
     font-family: 'Kaushan Script', cursive!important;
}

.page-banner {
  
    padding: 50px 0 50px;
}


.menuitem-group{
    margin-top: 30px;
}


.menuitem{
    width:100%;
}

.menuitem a{
    width: 100%;
    
}

.menuitem a {
    width: 100%;
    font-size: 17px;
    color: #FF9800;
}

.menuitem.active a{
background-color: #FF9800!important;
border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.menucontainer{
    background-color: #FF9800;
    /*height: 1000px;*/
    padding: 20px!important;
    border-radius: 25px;
    float: left;
}

.menumarginpadding0{
    padding: 0px;
    margin: 0px;
}

.menuimagecontainer img{
   height: 800px!important;
    display: inline-block!important;
}


.indianflaggradient{
    background: rgb(255,136,0);
background: linear-gradient(39deg, rgba(255,136,0,1) 0%, rgba(255,255,255,1) 50%, rgba(51,199,0,1) 100%);
}